/* Variables */
:root {
    --light-text-color: #333;
    --dark-text-color: #ccc;
    --light-accent-color: #dedede;
    --dark-accent-color: #ddd;
    --light-background-color: #f0f0f0;
    --dark-background-color: #2d2d2d;
    --light-background-accent-color: #e0e0e0;
    --dark-background-accent-color: #555;
}

:where(textarea, input, span):focus-within {
    outline: none;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
    background-color: var(--light-background-color);
    border-bottom: 1px solid var(--light-background-accent-color);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

header .filename {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    max-width: 6.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .filename.current {
    background-color: var(--light-background-accent-color);
    border: 1px solid var(--light-background-accent-color);
}

header .btn-action {
    background-color: var(--light-accent-color);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

header .btn-action:hover {
    background-color: #0492ff;
}

/* Main Content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main .content {
    width: 100%;
    min-height: calc(100svh - 65px);
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Messages */
.message {
    display: block;
    font-weight: bold;
    background-color: #f9f8f8;
    padding: 10px;
    border-left: 4px solid var(--accent-color);
    margin-bottom: 10px;
    border-radius: 4px;
}

.warning {
    --accent-color: #ff6f61;
}

.recommend {
    --accent-color: #4a90e2;
}

/* Dark Mode */
body.dark-mode {
    color: var(--dark-text-color);
    background-color: var(--dark-background-color);
}

body.dark-mode header {
    background-color: var(--dark-background-color);
    border-bottom: 1px solid var(--dark-background-accent-color);
}

body.dark-mode header .filename.current {
    background-color: var(--dark-background-accent-color);
    border: 1px solid var(--dark-background-accent-color);
}

body.dark-mode main .content {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    border: 1px solid var(--dark-background-accent-color);
}

body.dark-mode main .content.current {
    border: 1px solid var(--dark-accent-color);
}

body.dark-mode header .btn-action {
    background-color: var(--dark-background-accent-color);
    color: var(--dark-text-color);
}

body.dark-mode header .btn-action:hover {
    background-color: #777;
}

body.dark-mode .message {
    background-color: var(--dark-background-accent-color);
    color: var(--dark-text-color);
}
