/* Variables */

body.light-mode {
    --text-color: #333;
    --accent-default-color: #2f2f2f;
    --background-color: #dedede;
    --background-accent-color: #cacaca;
    --highlight-color: #0054ca;
}

body.dark-mode {
    --text-color: #ccc;
    --accent-default-color: #ddd;
    --background-color: #2d2d2d;
    --background-accent-color: #555;
    --highlight-color: #08bbe8;
}

/* Apply theme */

body,
textarea {
    background-color: var(--background-color);
    color: var(--text-color);
}

.bg-accent {
    background-color: var(--background-accent-color);
    color: var(--accent-default-color);
}

/* Reset */
:where(textarea, input, span):focus-within {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

header .filename {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        font-weight: bolder;
    }

    &.current {
        color: var(--highlight-color);
    }
}

header .btn-action {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

header .btn-action:hover {
    background-color: var(--highlight-color);
}

header > .files {
    display: flex;
}

.burger {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    inset: 0;
}

.full-size {
    width: 100%;
    height: 100%;
}

/* header mobile */

@media (max-width: 970px) {
    .burger {
        display: block;
    }

    section.burger {
        right: 1vw;
        width: 20px;
        aspect-ratio: 1/1;
    }

    input[type="checkbox"] {
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    input.burger:checked + label.burger {
        position: relative;

        & .line {
            position: absolute;
            transition: rotate 0.5s ease-in-out;
        }

        & .line:nth-child(1) {
            rotate: 45deg;
        }
        & .line:nth-child(2) {
            display: none;
        }
        & .line:nth-child(3) {
            rotate: -45deg;
        }
    }

    label.burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    span.line {
        width: 100%;
        height: 2px;
        background-color: var(--text-color);
        transition: rotate 0.5s ease-in-out;
    }

    header:has(input.burger) section.actions {
        transition: translate 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--background-color);
        opacity: 0.9;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        width: min(100vw, 100%);
        height: calc(100% - 45px);
        padding: 15px 0;
        translate: -150vw 365px;

        & .btn-action {
            text-align: start;
            padding: 1rem;
        }
    }

    header:has(input.burger:checked) section.actions {
        translate: -10px 365px;
    }
}

/* Main Content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main .content {
    width: 100%;
    min-height: calc(100svh - 65px);
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Messages */
.message {
    display: block;
    font-weight: bold;
    padding: 10px;
    border-left: 4px solid var(--accent-color);
    margin-bottom: 10px;
    border-radius: 4px;
}

.warning {
    --accent-color: #ff6f61;
}

.recommend {
    --accent-color: #4a90e2;
}

.new {
    --accent-color: #c44ae2;
}
