/* Variables */
:root {
    --height-footer-message: 50px;
}

body.light-mode {
    --text-color: #333;
    --accent-color: #636363;
    --background-color: #f0f0f0;
    --background-accent-color: #e0e0e0;
}

body.dark-mode {
    --text-color: #c2c2c2;
    --accent-color: #ddd;
    --background-color: #2d2d2d;
    --background-accent-color: #555;
}

:where(textarea, input, span):focus-within {
    outline: none;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}

textarea {
    background-color: inherit;
    color: inherit;
}

/* Global */
body {
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

progress {
    background-color: inherit;
    accent-color: var(--accent-color);
}

/* Header */
header {
    border-bottom: 1px solid var(--background-accent-color);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

header .filename {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    max-width: 6.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .filename.current {
    border: 1px solid var(--background-accent-color);
}

header .btn-action {
    background-color: var(--background-accent-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

header .btn-action:hover {
    scale: 1.05;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Main Content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main .content {
    width: 100%;
    min-height: calc(100svh - 65px - var(--height-footer-message));
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Messages */
.message {
    display: block;
    font-weight: bold;
    padding: 10px;
    border-left: 4px solid var(--accent-color);
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: var(--background-accent-color);
}

.warning {
    --accent-color: #ff6f61;
}

.recommend {
    --accent-color: #4a90e2;
}

/* footer */

footer {
    height: var(--height-footer-message);
    border-top: 1px solid var(--background-accent-color);
    padding: 10px;

    & .message {
        border-left: none;
        margin-bottom: 0;
        background-color: transparent;
    }
}

.line {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.end-line {
    justify-content: flex-end;
}
